// pages/_about.scss
@use "../abstract" as *;
@use "../base/typography" as *;

// --- ABOUT HERO ---
.aboutHero {
    position: relative; // Needed for the background block
    padding-top: 4rem; 

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%; // The tan color stops before the bottom of the image
        background-color: $clr--secondary;
        z-index: -1; // Puts the color block behind the content
    }

    &__wrapper {
        text-align: center;

        h2 {
            font-family: $font-secondary;
            color: $clr--dark;
            margin-bottom: 3rem;
        }
    }

    &__img img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
        border-radius: 2px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.1); // Subtle shadow to lift it off the background
    }
}

// --- ABOUT MAIN CONTENT ---
.aboutContent {
    padding: 6rem 0;

    &__wrapper {
        @include gridCustom(2fr 1fr, 5rem); // 2/3 width for text, 1/3 for sidebar
        
        @include mediaQuery(992px) {
            @include gridFixed(1, 4rem); // Stacks on smaller screens
        }
    }

    &__text {
        h2 {
            font-family: $font-secondary;
            color: $clr--dark;
            margin-bottom: 2rem;
            font-size: clamp(2rem, 4vw, 2.5rem);
        }

        p {
            color: $clr--light;
            line-height: 1.8;
            margin-bottom: 2rem;
            font-size: 1rem;
        }

        .address {
            margin-top: 3rem;
            p {
                margin-bottom: 0.2rem;
                font-weight: 600;
            }
        }
    }

    &__sidebar {
        h3 {
            font-family: $font-secondary;
            color: $clr--primary; // Gold color for sidebar title
            margin-bottom: 2rem;
            font-size: 1.5rem;
        }

        .sidebar__items {
            display: flex;
            flex-direction: column;
            gap: 2rem; // Space between classic items
            
            // Reusing your .classicItem class! 
            // We don't need to rewrite the CSS, it automatically inherits from _cards.scss
        }
    }
}