@use "../abstract" as *;
@use "../base/typography" as *;

.section__title {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3.5rem;
    width: 100%;

    .line {
        height: 1px;
        background-color: $clr--secondary;
        flex-grow: 1;
    }

    h2 {
        font-family: $font-secondary;
        color: $clr--primary;
        white-space: nowrap;
        font-size: 2rem;
    }

    &--center {
        justify-content: center;
    }
}