@use "./colors" as *;

$colors: (
    "primary": $clr--primary,
    "secondary": $clr--secondary,
    "light": $clr--light,
    "dark": $clr--dark,
);

@each $key, $val in $colors {
    .text {
        &--#{$key} { // string interpolation to create class names like .text--dark and .text--light
            color: $val;
        }
    }
    .bg {
        &--#{$key} { // string interpolation to create class names like .bg--dark and .bg--light
            background-color: $val;
        }
    }
}

$text-align: left, right, center, justify;
@each $val in $text-align {
    .t-align--#{$val} { // string interpolation to create class names like .t-align--left, .t-align--right, etc.
        text-align: $val;
    }
}

$display: block, inline, inline-block, flex, grid;
@each $val in $display {
    .d--#{$val} { // string interpolation to create class names like .d--block, .d--inline, etc.
        display: $val;
    }
}

$position: absolute, relative, static, fixed;
@each $val in $position {
    .position--#{$val} { // string interpolation to create class names like .position--absolute, .position--relative, etc.
        position: $val;
    }
}

@for $i from 0 through 20 {
    .m--#{$i} {
        margin: $i + rem;
    }
    .mx--#{$i} {
        margin: 0 $i + rem;
    }
    .my--#{$i} {
        margin: $i + rem 0;
    }
    .mb--#{$i} {
        margin-bottom: $i + rem;
    }
    .mt--#{$i} {
        margin-top: $i + rem;
    }
    .ml--#{$i} {
        margin-left: $i + rem;
    }
    .mr--#{$i} {
        margin-right: $i + rem;
    }
    .p--#{$i} {
        padding: $i + rem;
    }
    .px--#{$i} {
        padding: 0 $i + rem;
    }
    .py--#{$i} {
        padding: $i + rem 0;
    }
    .pt--#{$i} {
        padding-top: $i + rem;
    }
    .pb--#{$i} {
        padding-bottom: $i + rem;
    }
    .pl--#{$i} {
        padding-left: $i + rem;
    }
    .pr--#{$i} {
        padding-right: $i + rem;
    }
}
